h1,
.h1,
.our-price-title,
.index-business-title,
.index-business-more > a,
.organize-header:first-line {
  margin: 0 0 18px;
  font: bold 38px/38px "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #007082;
  text-transform: uppercase;
}
h2,
.h2 {
  margin: 0 0 18px;
  font: 26px/26px "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #007082;
}
h3,
.h3 {
  margin: 0 0 18px;
  font: 22px/22px Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #007082;
}
h4,
.h4 {
  margin: 0 0 18px;
  font: 20px/20px Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #444;
}
h5,
.h5 {
  margin: 0 0 18px;
  font: 700 18px/22px Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #444;
}
h6,
.h6 {
  margin: 0 0 18px;
  font: 700 18px/22px Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #999;
}
#wrap-header,
#wrap-center,
#container-header,
#container-center,
#container-business,
#container-organize,
#container-bottom,
#container-footer,
.index-register-form-label,
.index-register-form-label > [type="text"],
.index-register-form-label > [type="email"],
.index-register-form-label > [type="tel"],
.index-register-form-submit,
.our-price-row > span:nth-child(2),
.register-complete-label,
.form-label {
  position: relative;
}
#wrap-header:after,
.home #wrap-center:after,
.popup-close,
.top-menu,
.header-contacts,
.header-contacts:before,
.header-contacts:after,
.free-30-days,
.index-login,
.header-vk,
.index-register,
.index-register-form-label > .icon-ok,
.register-complete-label > .icon-ok,
.form-label > .icon-ok,
.index-register-form-label > .icon-cancel,
.register-complete-label > .icon-cancel,
.form-label > .icon-cancel,
.index-register-form-label > .icon-user,
.register-complete-label > .icon-user,
.index-register-form-label > .icon-phone,
.register-complete-label > .icon-phone,
.test-now,
.new-delivery,
.slogan,
.slogan-inner,
.our-price,
#home,
.index-business-header,
.index-business,
.index-business-more,
.organize-header,
.organize-contacts-title,
.organize-contacts-phone,
.organize-contacts-email,
.organize-step,
.organize-submit,
.footer-menu,
.footer-copyright,
.footer-new-delivery {
  position: absolute;
}
#wrap-header:after,
.home #wrap-center:after,
.popup-shadow,
.home .top-menu,
.index-register,
.slogan,
#home,
.index-business-header,
.index-business-more {
  left: 0;
}
.index-login,
.our-price {
  right: 0;
}
.popup-shadow,
.top-menu,
.index-login,
.index-register-form-label > .icon-user,
.register-complete-label > .icon-user,
.index-register-form-label > .icon-phone,
.register-complete-label > .icon-phone,
#home {
  top: 0;
}
.menu,
.top-menu > ul > li,
.footer-menu > ul > li {
  margin: 0;
  padding: 0;
}
#container-header,
#container-center,
#container-business,
#container-organize,
#container-bottom,
#container-footer {
  margin: 0 auto;
}
#wrap-header:after,
.home #wrap-center:after,
.shadow .popup-shadow,
.popup-close,
.header-contacts:before,
.header-contacts:after,
.header-vk > a,
.index-register-form-label,
.test-now > a,
.new-delivery > a,
#home,
#home > span,
.organize-submit > a,
.footer-new-delivery > a,
.register-complete-label,
.form-label,
.download-program {
  display: block;
}
.top-menu > ul > li,
.index-register-form-label > .icon-user,
.register-complete-label > .icon-user,
.index-register-form-label > .icon-phone,
.register-complete-label > .icon-phone,
.our-price-row > span,
.index-business-more > a,
.index-business-more > a:after,
.footer-menu > ul > li {
  display: inline-block;
}
.login-mini-form-buttons {
  display: table;
}
.login-mini-form-buttons > a {
  display: table-cell;
}
.header-vk > a,
.test-now > a,
.test-now > a:hover,
.home .test-now > a,
.home .test-now > a:hover,
.new-delivery > a,
.new-delivery > a:hover,
.new-delivery > a:active,
#home > span,
.organize-submit > a,
.organize-submit > a:hover,
.footer-new-delivery > a,
.footer-new-delivery > a:hover {
  background: url("img/sprite.png") no-repeat;
}
.header-vk > a,
.test-now > a,
.new-delivery > a,
#home,
.organize-submit > a,
.footer-new-delivery > a,
.download-program {
  font: 0/0 serif;
  color: transparent;
}
/************************
*
*      CONSTRUCTION
*
*************************/
::-moz-selection {
  background: #268ea3;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #268ea3;
  color: #fff;
  text-shadow: none;
}
body {
  font: 18px/22px Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
}
body,
input,
select,
textarea,
button {
  color: #444;
  font-family: Roboto, Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
}
:link,
:visited {
  color: #268ea3;
  text-decoration: underline;
}
a:hover {
  color: #268ea3;
  text-decoration: none;
}
a,
input,
select,
textarea,
button {
  outline: 0 none;
}
td,
th {
  vertical-align: top;
}
ul,
ol {
  margin-left: 0;
  padding-left: 0;
}
ul li,
ol li {
  margin: 7px 0 7px 20px;
  position: relative;
}
ul li li,
ol li li {
  margin-left: 30px;
}
ul li > ul,
ol li > ul,
ul li > ol,
ol li > ol {
  margin-top: 15px;
  margin-bottom: 15px;
}
ul > li {
  list-style: none;
}
ul > li:before,
ul > li li:before {
  content: "";
  display: inline-block;
  background: #007082;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -17px;
  top: 8px;
}
ul > li li:before {
  content: "–";
  background: transparent;
  top: 0;
  left: -20px;
}
ol > li {
  list-style: decimal;
}
blockquote {
  background: #fff;
  margin: 0 0 30px;
  padding: 0 25px;
  border: 1px solid #ccc;
  font-size: 21px;
  line-height: 24px;
  font-style: italic;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table {
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
table td,
table th {
  padding: 12px 20px;
  border: 2px solid #268ea3;
  text-align: left;
}
table.no-border td,
table.no-border th {
  border: 0 none;
}
table th {
  font-size: 20px;
  font-weight: bold;
  color: #007082;
  padding-bottom: 20px;
}
html,
body {
  height: 100%;
}
body {
  background: #fff;
  display: table;
  width: 100%;
}
body.home {
  background: #fff;
}
#wrapper {
  display: table-row-group;
}
#footer {
  display: table-footer-group;
  height: 1px;
}
#wrap-header {
  background: url("img/bg_top_inner.png") no-repeat center top;
}
#wrap-header:after,
.home #wrap-center:after {
  background: url("img/bg_shadow.png") no-repeat center top;
  content: "";
  width: 100%;
  height: 36px;
  bottom: -36px;
  border-top: 1px solid #fff;
  z-index: 1;
}
#wrap-header:after {
  opacity: 0.5;
}
.home #wrap-header:after {
  display: none;
}
.home #wrap-header {
  background: #fff url("img/bg_top.jpg") no-repeat center top;
}
#wrap-center {
  background: url("img/bg_center_shadow.png") no-repeat center top;
}
.home #wrap-center {
  background: #fff;
}
.home #wrap-center:after {
  height: 36px;
}
#wrap-business {
  background: #fff url("img/bg_business.png") no-repeat center 80px;
  padding-top: 80px;
  padding-bottom: 50px;
}
#wrap-organize {
  background: #fff url("img/bg_organize.png") no-repeat center 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#wrap-footer {
  background: #fff url("img/bg_footer.png") no-repeat center bottom;
}
#container-header,
#container-center,
#container-business,
#container-organize,
#container-bottom,
#container-footer {
  width: 980px;
}
#container-header {
  height: 175px;
}
.home #container-header {
  height: 537px;
}
#container-center {
  background: #fff url("img/bg_center.jpg") repeat-x;
  padding: 50px 40px;
  margin-top: 0;
  min-height: 570px;
  margin-bottom: 0;
}
#container-center > :first-child {
  margin-top: 0 !important;
}
.home #container-center {
  background: none;
  padding: 30px 10px 50px;
  min-height: 0;
}
#container-business {
  height: 513px;
}
#container-organize {
  height: 319px;
}
#container-bottom {
  padding: 0 0 50px;
}
#container-footer {
  height: 169px;
}
.popup-shadow {
  display: none;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.popup,
.alert {
  display: none;
  background: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.6);
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.6);
  width: 400px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -200px;
  z-index: 2;
  opacity: 0;
}
.alert {
  opacity: 1;
  height: 200px;
  margin-top: -100px;
  z-index: 3;
}
.popup-close {
  right: -12px;
  top: -12px;
  width: 30px;
  height: 30px;
  background: #000;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  text-align: center;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.popup-close:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.popup-close > i {
  vertical-align: middle;
}
[type="text"],
[type="email"],
[type="tel"] {
  width: 280px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15) inset;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15) inset;
  font-size: 20px;
  line-height: 24px;
}
[type="text"]:focus,
[type="email"]:focus,
[type="tel"]:focus {
  border-color: #999;
}
[type="submit"] {
  padding: 0;
  background: transparent;
  border: 0 none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/************************
*
*         MENU
*
*************************/
.top-menu {
  left: 235px;
}
.top-menu > ul {
  padding: 20px 14px 12px;
  font-size: 0;
}
.top-menu > ul > li {
  margin: 0 12px;
}
.top-menu > ul > li > a,
.top-menu > ul > li span {
  color: #fff;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.top-menu > ul > li > a:hover,
.top-menu > ul > li span:hover {
  border-bottom: 0 none;
}
.top-menu > ul > li:before {
  display: none;
}
.home .top-menu {
  background: #268ea3;
}
/************************
*
*        HEADER
*
*************************/
.header-contacts {
  left: 550px;
  top: 80px;
  color: #268ea3;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-style: normal;
  text-shadow: 0 -1px 0 #fff;
}
.header-contacts > span {
  padding: 0 3px;
  vertical-align: top;
  line-height: 34px;
  font-size: 20px;
}
.header-contacts > abbr {
  font-size: 45px;
  line-height: 45px;
}
.header-contacts > a {
  margin: 0 0 0 17px;
  font-size: 21px;
  color: inherit;
  text-decoration: none;
}
.header-contacts > a:hover {
  text-decoration: underline;
}
.header-contacts > a > .icon-mail {
  vertical-align: middle;
}
.header-contacts > .icon-phone {
  font-size: 26px;
  margin-right: -2px;
}
.header-contacts:before,
.header-contacts:after {
  content: "";
  top: -15px;
  width: 28px;
  height: 108px;
  background: url("img/delimiter.png") no-repeat;
}
.header-contacts:before {
  left: -20px;
}
.header-contacts:after {
  right: -50px;
}
.home .header-contacts {
  left: 27px;
}
.home .header-contacts > abbr {
  font-size: 52px;
  line-height: 52px;
}
.home .header-contacts > a {
  font-size: 24px;
}
.home .header-contacts > .icon-phone {
  font-size: 35px;
  margin-left: -10px;
}
.home .header-contacts:before,
.home .header-contacts:after {
  display: none;
}
.free-30-days {
  left: 43px;
  top: 205px;
  padding: 3px 7px 5px;
  background: #000;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 19px;
  text-align: center;
}
.free-30-days > div {
  font-size: 40px;
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
}
.index-login {
  width: 194px;
}
.login-mini-form {
  color: #fff;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
}
.login-mini-form [type="text"] {
  width: 145px;
  background: #fff;
  margin: 5px 0 5px 9px;
  padding: 4px 6px;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 17px;
}
.login-mini-form-container {
  background: #268ea3;
  padding: 10px 15px 8px;
}
.login-mini-form-title {
  font-size: 14px;
  white-space: nowrap;
}
.login-mini-form-buttons {
  width: 100%;
  background: #007082;
  font-size: 12px;
  border-top: 1px solid #e0f4f9;
}
.login-mini-form-buttons > a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.login-mini-form-buttons > a:first-child {
  border-right: 1px solid #e0f4f9;
}
.login-mini-form-buttons > a:hover {
  background: #27b8cd;
}
.header-vk {
  right: 260px;
  top: 20px;
}
.header-vk > a {
  width: 38px;
  height: 38px;
  background-position: 0 -462px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-vk > a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.index-register {
  top: 330px;
}
.index-register-form {
  width: 282px;
}
.index-register-form-label {
  margin: 13px 0 0 25px;
}
.index-register-form-label > [type="text"],
.index-register-form-label > [type="email"],
.index-register-form-label > [type="tel"] {
  width: 100%;
  background: #fff;
  z-index: 1;
  margin: 0;
  padding: 8px 35px 8px 12px;
  border: 0 none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  vertical-align: top;
}
.index-register-form-label > .icon-ok,
.register-complete-label > .icon-ok,
.form-label > .icon-ok,
.index-register-form-label > .icon-cancel,
.register-complete-label > .icon-cancel,
.form-label > .icon-cancel {
  display: none;
  right: 0;
  top: 8px;
  z-index: 1;
  font-size: 25px;
  color: #63d627;
}
.index-register-form-label.valid > .icon-ok,
.register-complete-label.valid > .icon-ok,
.form-label.valid > .icon-ok {
  display: inline;
}
.index-register-form-label.invalid > .icon-cancel,
.register-complete-label.invalid > .icon-cancel,
.form-label.invalid > .icon-cancel {
  display: inline;
  color: #c55959;
}
.index-register-form-label > .icon-user,
.register-complete-label > .icon-user,
.index-register-form-label > .icon-phone,
.register-complete-label > .icon-phone {
  left: -25px;
  padding: 4px 15px 4px 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #005a69;
  color: #63abbd;
  font-size: 16px;
}
.index-register-form-container {
  text-align: right;
}
.index-register-form-submit {
  display: none;
  float: right;
  background: #005a69;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 0;
  padding: 1px 0 3px 12px;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}
.index-register-form-submit:hover > input {
  color: #b3efff;
}
.index-register-form-submit > i {
  position: static;
  padding: 0 2px 0 5px;
  background: transparent;
}
.index-register-form-title {
  margin: 0 0 0 25px;
  white-space: nowrap;
  color: #fff;
  font: bold 20px/20px "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #007082;
}
.test-now {
  right: 0;
  top: 82px;
}
.test-now > a {
  width: 157px;
  height: 68px;
  background-position: -380px -322px;
}
.test-now > a:hover {
  background-position: -380px -393px;
}
.home .test-now {
  right: 5px;
  top: 165px;
}
.home .test-now > a {
  width: 182px;
  height: 102px;
  background-position: -380px -118px;
}
.home .test-now > a:hover {
  background-position: -380px -220px;
}
.new-delivery {
  left: 50%;
  top: 347px;
}
.new-delivery > a {
  margin-left: -190px;
  width: 380px;
  height: 114px;
  background-position: 0 0;
}
.new-delivery > a:hover {
  background-position: 0 -114px;
}
.new-delivery > a:active {
  background-position: 0 -228px;
}
.slogan {
  top: 465px;
  width: 100%;
  color: #fff;
  font: 18px/18px "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.slogan-inner {
  left: 242px;
  top: 73px;
  width: 280px;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 38px;
  line-height: 40px;
  text-transform: uppercase;
  color: #268ea3;
}
.our-price {
  top: 315px;
}
.our-price-title {
  margin: 0 25px 10px 0;
  color: #fff;
  text-shadow: 0 1px 0 #007082;
  text-align: right;
}
.our-price-title > a {
  color: #fff;
  text-decoration: none;
}
.our-price-row {
  margin: 10px 0 0;
}
.our-price-row > span {
  height: 30px;
  padding: 4px 0 0;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 24px;
  color: #fff;
  vertical-align: top;
}
.our-price-row > span:first-child {
  margin: 0 4px 0 0;
}
.our-price-row > span:nth-child(2) {
  background: #fff;
  z-index: 1;
  width: 125px;
  color: #007082;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.our-price-row > span:nth-child(3) {
  background: #007082;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 85px;
  margin: 0 -5px 0 -18px;
  padding: 3px 0 0 10px;
  text-align: center;
}
.our-price-row > span:last-child {
  font-size: 17px;
}
#home {
  width: 223px;
  height: 55px;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
  background: -o-linear-gradient(top, #479baf, #007b8e);
  background: -ms-linear-gradient(top, #479baf, #007b8e);
  background: -moz-linear-gradient(top, #479baf, #007b8e);
  background: -webkit-linear-gradient(top, #479baf, #007b8e);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #479baf), color-stop(100%, #007b8e));
  background: linear-gradient(to bottom, #479baf, #007b8e);
}
#home:hover {
  background: -o-linear-gradient(top, #4fbcd0, #007b8e);
  background: -ms-linear-gradient(top, #4fbcd0, #007b8e);
  background: -moz-linear-gradient(top, #4fbcd0, #007b8e);
  background: -webkit-linear-gradient(top, #4fbcd0, #007b8e);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fbcd0), color-stop(100%, #007b8e));
  background: linear-gradient(to bottom, #4fbcd0, #007b8e);
}
#home:active {
  background: -o-linear-gradient(top, #007b8e, #479baf);
  background: -ms-linear-gradient(top, #007b8e, #479baf);
  background: -moz-linear-gradient(top, #007b8e, #479baf);
  background: -webkit-linear-gradient(top, #007b8e, #479baf);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007b8e), color-stop(100%, #479baf));
  background: linear-gradient(to bottom, #007b8e, #479baf);
}
#home:after {
  content: "";
}
#home > span {
  background-position: -380px -460px;
  width: 182px;
  height: 40px;
  margin: 8px 0 0 22px;
}
/************************
*
*        BUSINESS
*
*************************/
.index-business-header {
  top: 222px;
  width: 100%;
  color: #fff;
  font: bold 48px/48px "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.index-business-header > a {
  color: inherit;
  text-decoration: none;
}
.index-business {
  width: 220px;
  height: 175px;
  font-size: 17px;
  line-height: 24px;
}
.index-business:first-child {
  left: 35px;
  top: 16px;
  text-align: right;
}
.index-business:nth-child(2) {
  right: 35px;
  top: 16px;
}
.index-business:nth-child(3) {
  left: 35px;
  top: 308px;
  text-align: right;
}
.index-business:last-child {
  right: 35px;
  top: 308px;
}
.index-business > p {
  margin: 0;
}
.index-business-title {
  margin: 0 0 10px;
}
.index-business-more {
  top: 493px;
  width: 100%;
  text-align: center;
}
.index-business-more > a {
  background: #007082;
  padding: 9px 30px 9px 50px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
}
.index-business-more > a:hover {
  background: #268ea3;
}
.index-business-more > a:after {
  content: "";
  border-left: 12px solid #268ea3;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin: 0 0 0 12px;
}
.index-business-more > a:hover:after {
  border-left-color: #27b8cd;
}
/************************
*
*        ORGANIZE
*
*************************/
.organize-header {
  left: 31px;
  top: 48px;
  width: 0;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #268ea3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}
.organize-header:first-line {
  line-height: 35px;
  letter-spacing: 0;
}
.organize-contacts-title {
  left: 27px;
  top: 130px;
  width: 220px;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
}
.organize-contacts-phone {
  left: 27px;
  top: 182px;
  padding: 0 12px 2px;
  background: #268ea3;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
}
.organize-contacts-phone > i {
  font-size: 35px;
}
.organize-contacts-phone > span {
  vertical-align: top;
}
.organize-contacts-phone > span:first-child {
  font-size: 21px;
  line-height: 32px;
}
.organize-contacts-email {
  left: 27px;
  top: 235px;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
}
.organize-contacts-email > a > i {
  vertical-align: middle;
}
.organize-step {
  width: 240px;
  font-family: "Roboto Condensed", Tahoma, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  color: #007082;
}
.organize-step:first-child {
  left: 425px;
  top: 35px;
}
.organize-step:nth-child(2) {
  left: 425px;
  top: 95px;
}
.organize-step:nth-child(3) {
  left: 425px;
  top: 175px;
}
.organize-step:nth-child(4) {
  left: 750px;
  top: 35px;
}
.organize-step:nth-child(5) {
  left: 750px;
  top: 95px;
}
.organize-submit {
  right: 17px;
  top: 190px;
}
.organize-submit > a {
  width: 279px;
  height: 59px;
  background-position: -380px 0;
}
.organize-submit > a:hover {
  background-position: -380px -59px;
}
/************************
*
*        FOOTER
*
*************************/
.footer-menu {
  left: 27px;
  top: 68px;
}
.footer-menu > ul {
  width: 310px;
  font-size: 0;
}
.footer-menu > ul > li {
  width: 155px;
  padding: 0 20px 0 0;
}
.footer-menu > ul > li > a,
.footer-menu > ul > li span {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.footer-menu > ul > li > a:hover,
.footer-menu > ul > li span:hover {
  border-bottom: 0 none;
}
.footer-menu > ul > li:before {
  display: none;
}
.footer-copyright {
  right: 27px;
  top: 40px;
  width: 270px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}
.footer-copyright a {
  color: #fff;
}
.footer-new-delivery {
  left: 50%;
  top: 70px;
}
.footer-new-delivery > a {
  background-position: 0 -342px;
  width: 276px;
  height: 60px;
  margin: 0 0 0 -138px;
}
.footer-new-delivery > a:hover {
  background-position: 0 -402px;
}
/************************
*
*        POPUP
*
*************************/
.register-complete {
  padding: 0 20px 20px;
  text-align: center;
}
.register-complete-title {
  background: #007082;
  margin: 20px 0;
  padding: 10px 0;
  color: #fff;
}
.register-complete-label {
  margin: 10px 0 15px;
}
.register-complete-submit,
.alert-close {
  width: 150px;
  background: #007082;
  background: -o-linear-gradient(top, #268ea3, #007082);
  background: -ms-linear-gradient(top, #268ea3, #007082);
  background: -moz-linear-gradient(top, #268ea3, #007082);
  background: -webkit-linear-gradient(top, #268ea3, #007082);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #268ea3), color-stop(100%, #007082));
  background: linear-gradient(to bottom, #268ea3, #007082);
  margin: 20px auto;
  padding: 8px 0 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.register-complete-submit:hover,
.alert-close:hover {
  background: #268ea3;
}
.register-complete-submit > i,
.alert-close > i {
  margin-left: -5px;
}
.alert-content {
  padding: 0 20px;
}
.alert-close {
  text-align: center;
}
.login-form {
  width: 400px;
  float: left;
  margin: 0 75px 0 0;
}
.login-form > .register-complete-submit {
  width: 200px;
  margin: 20px 0;
  text-align: center;
}
.form-label {
  width: 300px;
  margin: 10px 0;
}
.form-label > input {
  width: 100%;
}
.download-program {
  float: left;
  width: 334px;
  height: 328px;
  margin: 0 0 0 -20px;
  background: url("img/download.png") no-repeat;
  opacity: 0.85;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.download-program:hover {
  opacity: 1;
}
.home table td {
  border: 0 none;
  padding: 0;
}



