@import mixin
@import typography
@import extension


/************************
*
*      CONSTRUCTION
*
*************************/

typography()

html, body
  height 100%

body
  background #fff
  display table
  width 100%

#wrapper
  display table-row-group

#footer
  display table-footer-group
  height 1px

#wrap-header
  @extend $relative

#wrap-center
  @extend $relative

#wrap-footer
  @extend $relative

$width
  width 980px

$container
  @extend $width
  @extend $m0auto
  @extend $relative

#container-header
  @extend $container

#container-center
  @extend $container
  padding 50px 40px
  margin-top 0
  min-height 570px
  margin-bottom 0

#container-footer
  @extend $container
