$relative
  position relative

$absolute
  position absolute

$left
  left 0

$right
  right 0

$top
  top 0

$bottom
  bottom 0

$mp0
  margin 0
  padding 0

$m0auto
  margin 0 auto

$block
  display block

$ib
  display inline-block

$table
  display table

$tc
  display table-cell

$sprite
  background url("img/sprite.png") no-repeat

$transparent
  font 0/0 serif
  color transparent